<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>DigiHome Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script> <!-- Include date adapter -->
</head>
<body>
    <header>
        <h1>DigiHome Dashboard</h1>
    </header>
    <main>
        <section id="device-section" class="chart-section">
            <h2>Device Data</h2>
            <div class="grid-container">
                <div class="grid-item">
                    <p>Temperature: <span id="bedroom-temp">-- &deg;C</span></p>
                    <p>Humidity: <span id="bedroom-humidity">-- %</span></p>
                </div>
            </div>
        </section>
        <section id="statistics-section" class="chart-section">
            <h2>Statistics</h2>
            <div class="grid-container">
                <div class="grid-item">
                    <p>Average Temperature:</p>
                    <span id="average-temp">-- &deg;C</span>
                </div>
                <div class="grid-item">
                    <p>Average Humidity:</p>
                    <span id="average-humidity">-- %</span>
                </div>
            </div>
        </section>
        <section class="chart-container">
            <h2>Charts</h2>
            <div class="grid-container">
                <div class="grid-item">
                    <canvas id="temperature-chart" class="chart-item"></canvas>
                </div>
                <div class="grid-item">
                    <canvas id="humidity-chart" class="chart-item"></canvas>
                </div>
            </div>
        </section>
    </main>
    <button id="refresh-button" class="top-tab-button">Refresh Data</button>
    <script src="{{ url_for('static', filename='script.js') }}" type="module"></script> <!-- Make sure to add type="module" -->
</body>
</html>
