<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>DigiHome Dashboard</title>
</head>
<body>
    <header>
        <h1><span class="blue-text">Digi</span><span class="green-text">Home</span></h1>
        <h2>Dashboard</h2>
    </header>
    <main>
        <section id="room-container">
            <!-- Default rooms -->
            <div class="sensor">
                <h2>Bedroom</h2>
                <p>Temperature: <span id="bedroom-temp">-- °C</span></p>
                <p>Humidity: <span id="bedroom-humidity">-- %</span></p>
            </div>
            <div class="sensor">
                <h2>Living Room</h2>
                <p>Temperature: <span id="living-room-temp">-- °C</span></p>
                <p>Humidity: <span id="living-room-humidity">-- %</span></p>
            </div>
            <!-- Newly added rooms will be inserted here -->
        </section>
    </main>
    <button id="add-room-button">Add New Room</button>
    <button id="refresh-button" class="top-tab-button">Refresh Data</button>
    <script src="static/script.js"></script>
</body>
</html>
