<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>DigiHome Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <h1>DigiHome Dashboard</h1>
    </header>
    <main>
        <section id="room-container">
            <div class="sensor">
                <h2>Bedroom</h2>
                <p>Temperature: <span id="bedroom-temp">-- °C</span></p>
                <p>Humidity: <span id="bedroom-humidity">-- %</span></p>
            </div>
        </section>
        <div class="statistics">
            <h2>Statistics</h2>
            <p>Average Temperature: <span id="average-temp">-- °C</span></p>
            <p>Average Humidity: <span id="average-humidity">-- %</span></p>
        </div>
        <div class="chart-container">
            <canvas id="temperature-chart"></canvas>
        </div>
    </main>
    <button id="refresh-button" class="top-tab-button">Refresh Data</button>
    <script src="static/script.js"></script>
</body>
</html>
